@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    font-family: Raleway;
}

html {
    background-color: #DFDFDF;
}





/*----------[Desktop]----------*/
.content{
  width: 100%;
}
.img{
  width: 100%;
}
.banner{
  position: relative;
  text-align: justify;
  color: white;
  
}

.banner .info{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom:560%;
  left: 50%;
  width: 400px;
}


.text{
  width: 100%;
}

h1{
  font-size: 3rem;
}

.button-link{
  display: inline-block;
  text-decoration: none;
  background-color: #333;
  border-radius: 3px;
  padding: 1rem 2rem;
  color:white;
  border-top: 2rem;
  align-self: center;
  width: 50%;
  margin-top: 1.3rem;
}
.button-link:hover{
  background-color: #555;
}



/*----------[Tablet/Phone]----------*/
@media (max-width: 750px){

}